/* COMMON */
.future[style*="display:none"] .card_wrap { visibility:hidden; }
.present[style*="display:none"] canvas { visibility:hidden; }
.page{
  width: 100vw;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
}

.progress_wrap{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black
}

.progress{
  color: white;
  font-size: 3vw;
  font-weight: bold;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 60px;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  border-bottom: solid 1px #ccc;
  display: flex;
  align-items: center;
  justify-content: start;
  text-transform: uppercase;
}

.menu_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  width: 18%;
  margin-left: 5%;
}

.menu{
  cursor: pointer;
  font-weight: bold;
  font-size: 1.1vw;
  transition: color 0.2s;
  -webkit-text-stroke: 0.4px black;
}

.menu:hover{
  color: rgba(0,0,0, 0.1);
}

.menu.selected{
  color: rgba(0,0,0, 0.1);
}

.main{
  position: relative;
  width: 100%;
}

.content{
  position: relative;
  width: 100%;
  height: 100%;
}

/* PAST */
.past .bg{
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
  background: #fff5d8
}

.book_wrap{
  position: relative;
  top: calc((100vh - 65vh) / 2);
  left: calc((100vw - 55vw) / 2);
  width: 55vw;
  height: 65vh;

}

/* PRESENT */
.present .bg{
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
  background: radial-gradient(#5a47ce, #232323 80%);
  /* #5a47ce, #232323 80% */
}

.present{
  height: 100vh;
}

.present .UI{
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_wrap{
  
  background-color: rgba(255,255,255, 0.4);
  
  border-radius: 30px;
  backdrop-filter: blur(14px);
  padding: 10px;

  width: fit-content;
  height: fit-content;
  display: flex;
}

.menu_wrap .float{
  filter: invert()
}

.page_num{
  color: white;
  font-size: 1.4vw;
  padding: 10px 20px;
  margin-left: 6px;
  margin-right: 6px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.page_num:hover{
  color: black;

  margin-left: 5px;
  margin-right: 5px;
  border: solid 1px white;
  background-color: rgba(255,255,255,0.5);
}

.UI .selected{
  color: black;
  
  margin-left: 5px;
  margin-right: 5spx;
  border: solid 1px white;
  background-color: rgba(255,255,255,0.5);
}

.present .canvas{
  width: 100vw !important;
  height: calc(90vh) !important;
}
/* future */
.future{
  position: relative;
  height: 100vh;
  background-color: black;
}

.future .display{
  position: relative;
  height: calc(100vh - 60px);
  top: 60px;
  overflow: hidden;
}

.card_wrap{
  position: relative;
  top: calc((100vh - 30vw) / 2 - 60px);
  left: calc(23vw);
  transition: transform 0.7s;
}

.gather   { transform: translateX(0vw) !important; }
.expand   { transition: transform .7s ease; }
.topCard  { z-index: 999 !important; }

.card_container{
  display: inline-block;
  perspective: 1000px;
  height: calc(30vw * 2);
  width: 50vw;
  margin-left: 1vw;
  margin-right: 1vw;
  position: relative;  

  /* 표준 */
  user-select: none;

  /* 브라우저별 프리픽스 */
  -webkit-user-select: none; /* Chrome / Safari / Edge */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE */
}

.card{
  height: 50%;
  width: 50vw;
  position: relative;
  transition: transform 0.7s;

  display: flex;

  border-radius: 20px;
  overflow: hidden;

  cursor: pointer;

  color: rgb(215, 215, 215);
}

.card .content_wrap{
  height: 100%;
  width: 100%;
}

.unit_title{
  position: relative;
  top: 30%;
  height: 30%;
  font-size: 3vw;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title{
  font-weight: bold;
  font-size: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
}

.card_content{
  display: flex;
  justify-content: center;
  width: 100%;
}

.card .left{
  position: relative;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  width: 40%;
}

.card_img{
  position: relative;
  object-fit: contain;
  display: block;
  width: 100% !important;
  height: 50% !important;
  border-radius: 10px;
  top: 13% !important;

  /* 표준 */
  user-select: none;

  /* 브라우저별 프리픽스 */
  -webkit-user-select: none; /* Chrome / Safari / Edge */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE */
}

.name{
  position: relative;
  left: 0;
  width: 100%;
  height: 30%;
  top: 60%;
  font-size: 3vw;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right{
  width: 60%;
  display: flex;
  flex-direction: column;   /* 위→아래 정렬 */
  height: 100%;
  padding: 20px;
}

.text_wrap, .graph_wrap{
  margin-top: 2vw;
  margin-bottom: 2vw;
  display: flex;
  flex-wrap: wrap;
}

.text_wrap{
  flex: 0 0 auto;
}

.graph_wrap{
  margin: 0;
  flex: 1 0 0;              /* 남는 높이 모두 사용 */
  display: flex;
  flex-wrap: wrap; /* 제목·그래프 간격 */
}

.text_head, .graph_head{
  font-size: 2vw;
  font-weight: bold;
  margin-bottom: 1vw;
  height: 20%;
  width: 100%;
}

.graph_head{
  margin: 0;
}

.card_text{
  position: relative;
  word-break: break-word;
  color: black;
  width: 100%;
  height: fit-content;
  left: 0;
  white-space: pre-line;
  color: gray;
  font-size: 1vw;
}

.graph_body{
  display: flex;
  width: 100%;
  height: 80%;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.graph{
  position: relative;
  width: 100%;
  height: 10px;
  border-radius: 10px;
  background-color: #d3d3d3;
  margin-bottom: 5px;
  top: -12%;
}

.bar{
  border-radius: 10px;
  height: 100%;
}


.percent{
  position: relative;
  top: -12%;
  left: -3%;
}

.reflection{
  position: absolute;
  transform: scaleY(-1);
  opacity: 0.3;
  mask-image: linear-gradient(to top, black 20%, transparent);
}

.at_left{
  transform: translate3d(0,0,0) rotateY(25deg) translateZ(-30px);
  transition-delay: 0.05s;
}

.reflection.at_left{
  transform: scaleY(-1) translate3d(0,0,0) rotateY(25deg) translateZ(-30px);
  transition-delay: 0.05s;
}

.at_right{
  transform: translate3d(0,0,0) rotateY(-25deg);
  transition-delay: 0.05s;
}

.reflection.at_right{
  transform: scaleY(-1) translate3d(0,0,0) rotateY(-25deg);
  transition-delay: 0.05s;
}

.colorTest{
  color : #ff2e2e
}

.future .UI{
  position : absolute;
  bottom : 0;
  width: 100vw;
  height: 25vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.unit_content{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  top: 25%;
  font-size: 1.3vw;
  color: gray;
}

.order_wrap{
  color: white;
  font-size: 1.4vw;
  padding: 6px 12px;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.order_wrap:hover{
  color: black;

  margin-left: 2px;
  margin-right: 2px;
  border: solid 1px white;
  background-color: rgba(255,255,255,0.5);
}

.UI .selected{
  color: black;
  
  margin-left: 5px;
  margin-right: 5spx;
  border: solid 1px white;
  background-color: rgba(255,255,255,0.5);
}

.setting_order{
  background-color: rgba(255,255,255, 0.4);
  
  border-radius: 30px;
  backdrop-filter: blur(14px);
  padding: 5px;

  width: fit-content;
  height: fit-content;
  display: flex;
}
